.NavbarItems {
  background: #181818;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #eeecec;
  justify-content: start;
  display: flex;
  align-items: start;
 
}

.nav-menu {
 display: grid;
 grid-template-columns: repeat(6, auto);
 grid-gap: 10px;
 list-style: none;
 justify-content: start;
}

.nav-links {
    color: white;
    text-decoration: none;
}

.nav-links:hover {
 border-color: #eeecec;
 border-radius: 4px;
 transition: all 0.2s ease-out;
}
